<main>
    <style>
        header {
            display: flex;
            justify-content: space-between;
            margin : 20px
        }
        .remove{
            float:right;
        }
    </style>
    <header>
        <h3>Playlist: {{playlistName}} </h3>
        {{#if self  }}
        <a href="/add-song/{{this.playlistId}}"> <button class="btn btn-primary">Add New Song </button></a>
        {{/if}}
    </header>
    <div class="song-wrapper">
        {{#each songs}}
        <div class="card">
            <div class="card-header">
                <div class="card-title h5">{{this.name}}</div>
            </div>
            <div class="card-body">
                <audio controls>
                    <source src="/{{this.url}}" type="audio/mp3">
                </audio>
                {{#if ../self  }}
                <a class="remove" href="/delete-song/{{this.id}}">Remove</a>
            {{/if}}
            </div>
        </div>
        {{else}}
        <h3>This Playlist is empty</h3>
        {{/each}}
    </div>
</main>